* {
  font-family: monospace;
  font-size: 1em;
  color: tomato;
  box-sizing: border-box;
  cursor: url("../img/mouse.png"), auto;
}

html,
body {
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative;
  width: 100%;
}

/* locatoion indicator */
.locationindicator {
  padding: 0;
  margin: 13px;
}

.location {
  display: inline;
}

/*-- header --*/
.header {
  margin-top: 25px;
  background-color: skyblue;
  border: 1px solid tomato;
}

.header-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.title,
.searchbar,
.nav {
  margin: 10px 0 10px 0;
}

.title {
  font-size: 3em;
}

.searchbar {
  padding: 3px 3px 3px 10px;
  background-color: aquamarine;
  color: tomato;
  border: none;
}

::placeholder {
  color: tomato;
}

.searchbar,
.nav-button {
  border-radius: 25px;
}

.nav-button {
  margin-right: 10px;
}

.nav-button:hover {
  background-color: tomato;
}

/*-- button bar --*/
.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-self: stretch;
  padding-inline-start: 0;
}

.nav-button {
  list-style: none;
  padding: 3px 6px;
  flex: 1 auto;
  background-color: aquamarine;
  text-align: center;
}

.nav-button:hover {
  background-color: tomato;
}

/*-- main body --*/

.bodywrapper {
  width: 90%;
  margin: auto;
}

/*-- products --*/
ul.products-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  margin-top: 40px;
}

.product {
  list-style: none;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  border: 1px solid tomato;
  margin-bottom: 20px;
}

.photo-content {
  width: 100%;
}

.descrip {
  display: none;
  font-size: 0.9em;
}

/* what do you call those ~ MEDIAQUERIES */

/* 600px and larger */
@media only screen and (min-width: 600px) {
  /* navigation bar */

  .header-content {
    flex-flow: row wrap;
    justify-content: center;
  }

  .title {
    width: 100%;
    text-align: center;
  }

  .searchbar {
    width: 50%;
    margin-right: 10px;
  }

  .buttons {
    align-self: auto;
  }

  /* main body */
  .bodywrapper {
    width: 80%;
  }

  /* products */
}

/* 800px and larger */

@media only screen and (min-width: 800px) {
  /* navigation bar */

  .header-content {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .title {
    width: auto;
  }

  .searchbar {
    width: 40%;
  }
}
