* {
  font-size: 1em;
  box-sizing: border-box;
  cursor: default;
}

html,
body {
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative;
  width: 100%;
}

.invisible {
  animation: fade 13s ease-in;
  animation-fill-mode: forwards;
  opacity: 1%;
}

.slowinvisible {
  animation: fade 10s ease-in 7s;
  animation-fill-mode: forwards;
  opacity: 1%;
}

/* locatoion indicator */
.indicator {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding: 0;
  margin: 13px 13px 25px 13px;
}

.indicator li {
  display: inline;
}

.indicator li:nth-child(2) {
  margin-left: 10px;
}

/* loader */

.loader {
  border: 5px solid white;
  border-top: 4px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1.5s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*-- header --*/
.header {
  background-color: skyblue;
}

.header-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.title,
.searchbar,
.nav {
  margin: 10px 0 10px 0;
}

.title {
  font-size: 3em;
}

.searchbar {
  padding: 3px 3px 3px 10px;
  background-color: aquamarine;
  color: tomato;
  border: none;
}

::placeholder {
  color: tomato;
}

.searchbar,
.nav-button,
.product {
  border-radius: 25px;
}

.nav-button {
  margin-right: 10px;
}

.nav-button:hover {
  background-color: tomato;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

/*-- button bar --*/
.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-self: stretch;
  padding-inline-start: 0;
}

.nav-button {
  list-style: none;
  padding: 3px 6px;
  flex: 1 auto;
  background-color: aquamarine;
  text-align: center;
}

.nav-button:hover {
  background-color: tomato;
}

/*-- main body --*/

.bodywrapper {
  width: 90%;
  margin: auto;
}

/*-- products --*/
ul.products-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  margin-top: 40px;
}

.product {
  list-style: none;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  margin-bottom: 20px;
}

.photo-content {
  width: 90%;
  margin: 10px;
  animation: fade 13s ease-in;
  animation-fill-mode: forwards;
  opacity: 1%;
}

@keyframes fade {
  0% {
    opacity: 1%;
  }
  100% {
    opacity: 100%;
  }
}

.photo-descripion {
  display: none;
}

/* footer */

.footer {
  width: 100%;
}

.footer .firststroke {
  height: 70px;
  background-color: rgb(85, 163, 85);
}

.footer .secondstroke {
  height: 400px;
  background-color: green;
}

/* what do you call those ~ MEDIAQUERIES */

/* 600px and larger */

@media only screen and (min-width: 600px) {
  /* navigation bar */

  .header-content {
    flex-flow: row wrap;
    justify-content: center;
  }

  .title {
    width: 100%;
    text-align: center;
  }

  .searchbar {
    width: 50%;
    margin-right: 10px;
  }

  .buttons {
    align-self: auto;
  }

  /* main body */
  .bodywrapper {
    width: 80%;
  }

  /* products */
}

/* 800px and larger */

@media only screen and (min-width: 800px) {
  /* navigation bar */

  .header-content {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .title {
    width: auto;
    margin-right: 10px;
  }

  .searchbar {
    flex: 1 0 40%;
  }

  /* products */
  .product {
    flex: 0 0 47%;
  }
}
